<section class="site-about site__about">
  <div class="container site-about__container">
    <div class="left-about site-about__left">
      <h2 class="title left-about__title">
        О&nbsp;студии
      </h2>
      <p class="desc left-about__desc">
        В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от&nbsp;нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения внутренних резервов и&nbsp;ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и&nbsp;кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и&nbsp;нарушающими общечеловеческие нормы этики.
      </p>
    </div>
    <div class="right-about site-about__right">
      <picture>
        <source srcset="img/pictures/about-picture__320.webp" type="image/webp" media="(max-width: 640px)">
        <source srcset="img/pictures/about-picture__320.png" media="(max-width: 640px)">
        <source srcset="img/pictures/about-picture__768.webp" type="image/webp" media="(max-width: 990px)">
        <source srcset="img/pictures/about-picture__768.png" media="(max-width: 990px)">
        <source srcset="img/pictures/about-picture__1024.webp" type="image/webp" media="(max-width: 1150px)">
        <source srcset="img/pictures/about-picture__1024.png" media="(max-width: 1150px)">
        <source srcset="img/pictures/about-picture__1920.webp" type="image/webp" media="(max-width: 1920px)">
        <source srcset="img/pictures/about-picture__1920.png" media="(max-width: 1920px)">
        <img class="right-about__picture" src="img/pictures/about-picture__1920.png" alt="На картинке изображена камера" aria-hidden="true" width="630" height="255" loading="lazy">
      </picture>
      <h2 class="right-about__title">
        Подписаться на&nbsp;рассылку
      </h2>
      <form class="right-about__form" id="aboutForm" name="form" method="get" action="#">
        <div class="right-about__box">
          <input class="right-about__input" name="email" type="email" placeholder="E-mail" aria-label="Поле для ввода E-mail">
          <button class="btn right-about__button">Отправить</button>
      </div>
      </form>
    </div>
  </div>
</section>
