<header class="site-header">
  <div class="header-top site-header__top">
    <div class="container header-top__container">
      <a class="header-logo header-top__logo" href="#">
        <img class="header-logo__picture" src="img/sprites/sprite.svg#logo-header__1920" alt="Логотип компании HighPass" width="190" height="30" loading="lazy">
      </a>
      <nav class="nav-header header-top__nav">
        <ul class="nav-header__list">
          <li class="nav-header__item">
            <a class="nav-header__link" href="#">
              О&nbsp;студии
            </a>
          </li>
          <li class="nav-header__item">
            <a class="nav-header__link" href="#">
              Наши проекты
            </a>
          </li>
          <li class="nav-header__item">
            <a class="nav-header__link" href="#">
              Услуги
            </a>
          </li>
          <li class="nav-header__item">
            <a class="nav-header__link" href="#">
              Мастер-классы
            </a>
          </li>
          <li class="nav-header__item">
            <a class="nav-header__link" href="#">
              Контакты
            </a>
          </li>
          <li class="nav-header__item">
            <svg class="nav-header__call" width="22" height="22" viewBox="0 0 22 22">
              <use xlink:href="img/sprites/sprite.svg#icon-call"/>
            </svg>
            <a class="nav-header__tel" href="#">+7 (495) 42-423-532</a>
          </li>
        </ul>

      </nav>
      <ul class="socials-header header-top__socials">
        <li class="socials-header__item">
          <a class="socials socials-header__link" href="https://www.instagram.com/" aria-label="Иконка запрещенной организации в России">
            <svg class="socials-header__inst" width="30" height="30" viewBox="0 0 30 30">
              <use xlink:href="img/sprites/sprite.svg#icon-inst"/>
            </svg>
          </a>
        </li>
        <li class="socials-header__item">
          <a class="socials socials-header__link" href="https://facebook.com/" aria-label="Иконка запрещенной организации в России">
            <svg class="socials-header__fb" width="30" height="30" viewBox="0 0 30 30">
              <use xlink:href="img/sprites/sprite.svg#icon-fb"/>
            </svg>
          </a>
        </li>
        <li class="socials-header__item">
          <a class="socials socials-header__link" href="https://vk.com/" aria-label="Иконка сайта Вконтакте">
            <svg class="socials-header__vk" width="30" height="30" viewBox="0 0 30 30">
              <use xlink:href="img/sprites/sprite.svg#icon-vk"/>
            </svg>
          </a>
        </li>
      </ul>
      <button class="header-search header-top__search" aria-label="Открытие поиска по сайту">
        <svg class="header-search__icon" width="25" height="25" viewBox="0 0 25 25">
          <use xlink:href="img/sprites/sprite.svg#icon-search"/>
        </svg>
      </button>
      <form class="header-top__form" action="https://postman-echo.com/post" name="searchTop">
        <input class="header-top__input" type="search" name="searchTop" placeholder="Что будем искать?" id="header-search__input">
        <label class="header-top__label visually-hidden"></label>
        <button class="header-top__cancel" type="button"></button>
      </form>
    </div>
  </div>
<div class="header-bottom site-header__bottom">
  <div class="container header-bottom__container">
      <button class="burger-bottom header-bottom__burger header-bottom__burger_active" aria-label="Открытие основного навигационного меню">
        <span class="burger-bottom__line burger-bottom__line_first"></span>
        <span class="burger-bottom__line burger-bottom__line_second"></span>
        <span class="burger-bottom__line burger-bottom__line_third"></span>
        <span class="burger-bottom__line burger-bottom__line_fourth"></span>
      </button>
  </div>
</div>
</header>
