<section class="site-hero">
  <div class="container site-hero__container">
    <div class="left-hero site-hero__left">
      <h1 class="visually-hidden">
        Фотостудия HighPass
      </h1>
      <span class="left-hero__author">Мастер-класс от&nbsp;Игоря Робова</span>
      <h2 class="left-hero__title">Неоновый фотосет 2.0 <time datetime="2015-07-07T20:00">7&nbsp;июля 20:00</time></h2>
      <a class="btn left-hero__link" href="#">Узнать больше</a>
      <a class="hashtag left-hero__hashtag" href="#">#мастеркласс</a>
    </div>
    <div class="right-hero site-hero__right">
      <h2 class="title right-hero__title">Работы участников предыдущего мастер-класса</h2>
      <ul class="right-hero__list">
        <li class="right-hero__item right-hero__item_one">
          <picture>
            <source srcset="img/pictures/hero-two__320.webp" type="image/webp" media="(max-width: 480px)">
            <source srcset="img/pictures/hero-two__320.jpeg" media="(max-width: 480px)">
            <source srcset="img/pictures/hero-two__768.webp" type="image/webp" media="(max-width: 990px)">
            <source srcset="img/pictures/hero-two__768.jpeg" media="(max-width: 990px)">
            <source srcset="img/pictures/hero-two__1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/hero-two__1024.jpeg" media="(max-width: 1150px)">
            <source srcset="img/pictures/hero-two__1920.webp" type="image/webp">
            <source srcset="img/pictures/hero-two__1920.jpeg">
            <img class="right-hero__picture right-hero__picture_two" src="img/pictures/hero-two__1920.jpeg" alt="На картинке изображена девушка на ярко голубом неоновом фоне" width="630" height="300" loading="lazy">
          </picture>
        </li>
        <li class="right-hero__item right-hero__item_two">
          <picture>
            <source srcset="img/pictures/hero-three__320.webp" type="image/webp" media="(max-width: 480px)">
            <source srcset="img/pictures/hero-three__320.jpeg"  media="(max-width: 480px)">
            <source srcset="img/pictures/hero-three__768.webp" type="image/webp" media="(max-width: 990px)" >
            <source srcset="img/pictures/hero-three__768.jpeg" media="(max-width: 990px)">
            <source srcset="img/pictures/hero-three__1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/hero-three__1024.jpeg" media="(max-width: 1150px)">
            <source srcset="img/pictures/hero-three__1920.webp" type="image/webp">
            <source srcset="img/pictures/hero-three__1920.jpeg">
            <img class="right-hero__picture right-hero__picture_three" src="img/pictures/hero-three__1920.jpeg" alt="на картинке изображена девушка с красно-синим оттенком неона на фоне" width="300" height="257" loading="lazy">
          </picture>
        </li>
        <li class="right-hero__item right-hero__item_three">
          <picture>
            <source srcset="img/pictures/hero-four__320.webp" type="image/webp" media="(max-width: 480px)">
            <source srcset="img/pictures/hero-four__320.jpeg" media="(max-width: 480px)">
            <source srcset="img/pictures/hero-four__768.webp" type="image/webp" media="(max-width: 990px)">
            <source srcset="img/pictures/hero-four__768.jpeg" media="(max-width: 990px)">
            <source srcset="img/pictures/hero-four__1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/hero-four__1024.jpeg" media="(max-width: 1150px)">
            <source srcset="img/pictures/hero-four__1920.webp" type="image/webp">
            <source srcset="img/pictures/hero-four__1920.jpeg">
            <img class="right-hero__picture right-hero__picture_four" src="img/pictures/hero-four__1920.jpeg" alt="на картинке изображена девушка с разным оттеноком неона на фоне" width="300" height="257" loading="lazy">
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
