<section class="site-projects">
  <div class="container site-projects__container">
    <h2 class="title site-projects__title">Наши проекты</h2>
    <ul class="site-projects__list">
      <li class="item-projects site-projects__item site-projects__item_one">
        <article class="site-projects__box">
          <picture>
            <source srcset="img/pictures/projects-one__320.webp" type="image/webp" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-one__320.jpeg" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-one__768.webp" type="image/webp" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-one__768.jpeg" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-one__1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-one__1024.jpeg" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-one__1920.webp" type="image/webp">
            <source srcset="img/pictures/projects-one__1920.jpeg">
            <img class="site-projects__picture site-projects__picture_one" src="img/pictures/projects-one__1920.jpeg" alt="На картинке изображены горы, лес и озеро" width="190" height="184" loading="lazy">
          </picture>
          <a class="hashtag item-projects__hashtag" href="#">#пейзаж</a>
          <h3 class="item-projects__subtitle">Синтетически, смешаны с не уникальными данными до степени...</h3>
          <time class="item-projects__date" datetime="2015-06-16">16 июня</time>
        </article>
      </li>
      <li class="item-projects site-projects__item site-projects__item_two">
        <article class="site-projects__box">
          <picture>
            <source srcset="img/pictures/projects-two__320.webp" type="image/webp" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-two__320.jpeg" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-two__768.webp" type="image/webp" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-two__768.jpeg" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-two__1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-two__1024.jpeg" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-two__1920.webp" type="image/webp">
            <source srcset="img/pictures/projects-two__1920.jpeg">
            <img class="site-projects__picture site-projects__picture_two" src="img/pictures/projects-two__1920.jpeg" alt="На картинке изображены горы, лес и озеро" width="190" height="184" loading="lazy">
          </picture>
          <a class="hashtag item-projects__hashtag" href="#">#портрет</a>
          <h3 class="item-projects__subtitle">В&nbsp;своём стремлении улучшить опыт мы упускаем, что явные...</h3>
          <time class="item-projects__date" datetime="2015-05-28">28 мая</time>
        </article>
      </li>
      <li class="item-projects site-projects__item site-projects__item_three">
        <article class="site-projects__box">
          <picture>
            <source srcset="img/pictures/projects-three__320.webp" type="image/webp" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-three__320.jpeg" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-three__768.webp" type="image/webp" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-three__768.jpeg" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-three__1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-three__1024.jpeg" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-three__1920.webp" type="image/webp">
            <source srcset="img/pictures/projects-three__1920.jpeg">
            <img class="site-projects__picture site-projects__picture_three" src="img/pictures/projects-three__1920.jpeg" alt="На картинке изображены горы, лес и озеро" width="190" height="184" loading="lazy">
          </picture>
          <a class="hashtag item-projects__hashtag" href="#">#предмет</a>
          <h3 class="item-projects__subtitle">Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада</h3>
          <time class="item-projects__date" datetime="2015-05-14">14 мая</time>
        </article>
      </li>
      <li class="item-projects site-projects__item site-projects__item_four">
        <article class="site-projects__box site-projects__box_four">
          <picture>
            <source srcset="img/pictures/projects-four__320.webp" type="image/webp" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-four__320.jpeg" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-four__768.webp" type="image/webp" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-four__768.jpeg" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-four__1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-four__1024.jpeg" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-four__1920.webp" type="image/webp">
            <source srcset="img/pictures/projects-four__1920.jpeg">
            <img class="site-projects__picture site-projects__picture_four" src="img/pictures/projects-four__1920.jpeg" alt="На картинке изображены горы, лес и озеро" width="630" height="300" loading="lazy">
          </picture>
          <div class="site-projects__indent site-projects__indent_four">
            <time class="item-projects__date" datetime="2015-04-09">9 апреля</time>
            <a class="hashtag item-projects__hashtag" href="#">#fuji</a>
            <h3 class="item-projects__title">
              Cемантический разбор
            </h3>
            <p class="item-projects__desc item-projects__desc_four">В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы</p>
            <button class="item-projects__btn">О&nbsp;проекте</button>
          </div>
        </article>
      </li>
      <li class="item-projects site-projects__item site-projects__item_five">
        <article class="site-projects__box site-projects__box_five">
          <picture>
            <source srcset="img/pictures/projects-seven__320.webp" type="image/webp" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-seven__320.jpeg" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-seven__768.webp" type="image/webp" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-seven__768.jpeg" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-seven__1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-seven__1024.jpeg" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-five__1920.webp" type="image/webp">
            <source srcset="img/pictures/projects-five__1920.jpeg">
            <img class="site-projects__picture site-projects__picture_five" src="img/pictures/projects-five__1920.jpeg" alt="На картинке изображены горы, лес и озеро" width="630" height="300" loading="lazy">
          </picture>
          <div class="site-projects__indent site-projects__indent_five">
            <time class="item-projects__date" datetime="2015-03-20">20 марта</time>
            <a class="hashtag item-projects__hashtag" href="#">#проектзабвение</a>
            <h3 class="item-projects__title">
              Забвение
            </h3>
            <p class="item-projects__desc item-projects__desc_five">Играет важную роль в&nbsp;формировании глубокомысленных рассуждений</p>
            <button class="item-projects__btn">О&nbsp;проекте</button>
          </div>
        </article>
      </li>
      <li class="item-projects site-projects__item site-projects__item_six">
        <article class="site-projects__box">
          <picture>
            <source srcset="img/pictures/projects-five__320.webp" type="image/webp" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-five__320.jpeg" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-five__768.webp" type="image/webp" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-five__768.jpeg" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-five__1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-five__1024.jpeg" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-six__1920.webp" type="image/webp">
            <source srcset="img/pictures/projects-six__1920.jpeg">
            <img class="site-projects__picture site-projects__picture_six" src="img/pictures/projects-six__1920.jpeg" alt="На картинке изображены горы, лес и озеро" width="300" height="184" loading="lazy">
          </picture>
          <a class="hashtag item-projects__hashtag" href="#">#ретушь</a>
          <h3 class="item-projects__subtitle">Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов...</h3>
          <time class="item-projects__date" datetime="2015-03-09">9 марта</time>
        </article>
      </li>
      <li class="item-projects site-projects__item site-projects__item_seven">
        <article class="site-projects__box">
          <picture>
            <source srcset="img/pictures/projects-six__320.webp" type="image/webp" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-six__320.jpeg" media="(max-width: 480px)">
            <source srcset="img/pictures/projects-six__768.webp" type="image/webp" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-six__768.jpeg" media="(max-width: 990px)">
            <source srcset="img/pictures/projects-six__1024.webp" type="image/webp" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-six__1024.jpeg" media="(max-width: 1150px)">
            <source srcset="img/pictures/projects-seven__1920.webp" type="image/webp">
            <source srcset="img/pictures/projects-seven__1920.jpeg">
            <img class="site-projects__picture site-projects__picture_seven" src="img/pictures/projects-seven__1920.jpeg" alt="На картинке изображены горы, лес и озеро" width="300" height="184" loading="lazy">
          </picture>
          <a class="hashtag item-projects__hashtag" href="#">#портрет</a>
          <h3 class="item-projects__subtitle">С&nbsp;учётом сложившейся международной обстановки, новая модель организационной...</h3>
          <time class="item-projects__date" datetime="2015-03-01">1 марта</time>
        </article>
      </li>
    </ul>
  </div>
</section>
