<section class="site-projects site__projects">
  <div class="container site-projects__container">
    <h2 class="title site-projects__title">Наши проекты</h2>
    <ul class="site-projects__list">
      <li class="item-projects site-projects__item site-projects__item_one">
        <div class="site-projects__box">
          <span class="hashtag item-projects__hashtag">#пейзаж</span>
          <p class="item-projects__desc">Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени...</p>
          <time class="item-projects__date" datetime="2015-06-16">16 июня</time>
        </div>
      </li>
      <li class="item-projects site-projects__item site-projects__item_two">
        <div class="site-projects__box">
          <span class="hashtag item-projects__hashtag">#портрет</span>
          <p class="item-projects__desc">В&nbsp;своём стремлении улучшить опыт мы упускаем, что явные...</p>
          <time class="item-projects__date" datetime="2015-05-28">28 мая</time>
        </div>
      </li>
      <li class="item-projects site-projects__item site-projects__item_three">
        <div class="site-projects__box">
          <span class="hashtag item-projects__hashtag">#предмет</span>
          <p class="item-projects__desc">Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада</p>
          <time class="item-projects__date" datetime="2015-05-14">14 мая</time>
        </div>
      </li>
      <li class="item-projects site-projects__item site-projects__item_four">
        <time class="item-projects__date" datetime="2015-04-09">9 апреля</time>
        <span class="hashtag item-projects__hashtag">#fuji</span>
        <h3 class="item-projects__title">
          Cемантический разбор
        </h3>
        <p class="item-projects__desc item-projects__desc_four">В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы</p>
        <button class="item-projects__btn">О&nbsp;проекте</button>
      </li>
      <li class="item-projects site-projects__item site-projects__item_five">
        <time class="item-projects__date" datetime="2015-03-20">20 марта</time>
        <span class="hashtag item-projects__hashtag">#проектзабвение</span>
        <h3 class="item-projects__title">
          Забвение
        </h3>
        <p class="item-projects__desc item-projects__desc_five">Играет важную роль в&nbsp;формировании глубокомысленных рассуждений</p>
        <button class="item-projects__btn">О&nbsp;проекте</button>
      </li>
      <li class="item-projects site-projects__item site-projects__item_six">
        <div class="site-projects__box">
          <span class="hashtag item-projects__hashtag">#ретушь</span>
          <p class="item-projects__desc">Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов...</p>
          <time class="item-projects__date" datetime="2015-03-09">9 марта</time>
        </div>
      </li>
      <li class="item-projects site-projects__item site-projects__item_seven">
        <div class="site-projects__box">
          <span class="hashtag item-projects__hashtag">#портрет</span>
          <p class="item-projects__desc">С&nbsp;учётом сложившейся международной обстановки, новая модель организационной...</p>
          <time class="item-projects__date" datetime="2015-03-01">1 марта</time>
        </div>
      </li>
    </ul>
  </div>
</section>
