@media (max-width: 1150px) {

.container {
  max-width: 1024px;
}

.header-top {

  &__logo {
    max-width: 168px;
    margin-right: 8%;
  }

  &__search {
    fill: $whiteColor;
    display: block;
  }
}

.nav-header {
  width: 58%;

  &__tel {
    outline: none;
  }
}

.socials-header {
  display: none;
}

.header-search {
  display: block;
}

.header-top {
  &__form {
    z-index: 1;
    left: 0;
    display: flex;
    width: 100vw;
    min-height: 80px;
    right: 0;
    position: absolute;
    align-items: center;
    padding-left: 27px;
  }

  &__input {
    width: 90%;
  }

  &__cancel {
    top: 28px;
    right: 27px;
  }
}

.site-hero {

  &__container {
    padding-top: 33px;
    padding-bottom: 69px;
  }
}

.left-hero {
  background-image: url(../img/pictures/hero-one__1024.jpg);
  background-position: left;
  min-height: 623px;
  padding-left: 30px;
  padding-top: 428px;
  transform: translateY(0);

  &__hashtag {
    top: 16px;
  }

  &__title {
    font-size: $textSizeEighth;
    margin-bottom: 32px;
  }

  &__author {
    margin-bottom: 3px;
  }
}

.right-hero {

  transform: translateY(2px);

  &__title {
    line-height: 25px;
    margin-bottom: 24px;
  }

  &__list {
    grid-template-columns: repeat(auto-fit, minmax(auto, 218px) minmax(auto, 218px));
    grid-template-rows: 332px 185px;
  }
}

.site-about {
  &__container {
    padding-bottom: 81px;
  }
}

.left-about {

  width: 52%;

  &__desc {
    width: 95%;
  }
}

.right-about {

  padding-top: 35px;
  width: 49%;

  &__input {
    margin-bottom: 20px;
  }
}

.site-projects {

  &__container {
    padding-bottom: 75px;
  }

  &__list {
    grid-template-columns: minmax(218px,auto) minmax(94px,auto) minmax(94px,auto) minmax(94px,auto) minmax(342px,auto);
    grid-template-rows: 278px 300px 300px;
  }

  &__item h3 {
    margin-bottom: 18px;
  }

  &__item_one {
    grid-column: span 1;
    grid-row: 1;
  }

  &__item_one h3 {
    -webkit-line-clamp: 2;
  }

  &__item_two {
    grid-column: span 2;
    grid-row: 1;
  }

  &__item_two h3 {
    -webkit-line-clamp: 2;
  }

  &__item_three {
    grid-column: span 2;
    grid-row: 1;
  }

  &__item_four {
    grid-column: span 4;
    grid-row: 2;
  }

  &__item_four p {
    margin-bottom: 48px;
  }

  &__item_four h3 {
    margin-bottom: 8px;
  }

  &__item_five {
    grid-column: 3/6;
    grid-row: 3;
  }

  &__item_five h3 {
    margin-bottom: 11px;
  }

  &__item_six {
    grid-column: span 1;
    grid-row: 2;
  }

  &__item_seven {
    grid-column: 1/3;
    grid-row: 3;
  }

  &__picture_one {
    width: 218px;
    height: 184px;
  }

  &__picture_two {
    width: 218px;
    height: 184px;
  }

  &__picture_three {
    width: 466px;
    height: 184px;
  }

  &__picture_four {
    width: 590px;
    height: 307px;
  }

  &__picture_five {
    width: 590px;
    height: 307px;
  }

  &__picture_six {
    width: 342px;
    height: 184px;
  }

  &__picture_seven {
    width: 342px;
    height: 184px;
  }

  &__indent {
    padding-top: 30px;
  }
}

.site-contacts {

  &__container {
    padding-bottom: 68px;
  }
}

.contacts-left {
  width: 63%;
  margin-right: 30px;
}

.left-box {
  bottom: 0;
  width: 100%;
  min-height: 160px;
  padding-top: 19px;
  padding-left: 30px;

  &__address {
    position: relative;
  }

  &__call {
    position: absolute;
    bottom: 27px;
    left: 121px;
  }

  &__tel {
    position: absolute;
    bottom: 27px;
    left: 143px;
  }
}

.contacts-right {
  width: 37%;

  &__button {
    padding: 12px 20px;
  }
}

.site-footer {

  &__container {
    min-height: 110px;
  }
}

.footer-copyright {
  margin-right: 14.5%;
}

.copyright-logo {

  &__picture {
    width: 167px;
    min-height: 26px;
  }
}
}

@media (max-width: 990px) {

.title {
  font-size: $textSizeSeventh;
}

.container {
  max-width: 990px;
  padding-left: 27px;
  padding-right: 27px;
}

.header-top {

  &__logo {
    margin-right: auto;
  }
}

.header-bottom {
  display: block;
  min-height: 46px;
  background-color: $elevenColor;
}

.nav-header {
  width: 93%;
  position: absolute;
  top: 90px;

  &__list {
    max-width: 100%;
  }
}

.site-hero {

  &__container {
    padding-top: 35px;
    padding-bottom: 67px;
  }
}

.left-hero {
  background-image: url(../img/pictures/hero-one__768.jpg);
  background-position: center;
  min-height: 453px;
  padding-top: 223px;
  padding-left: 29px;

  &__author {
    margin-bottom: 12px;
  }

  &__title {
    line-height: 32px;
    margin-right: 10px;
    margin-bottom: 37px;
  }
}

.right-hero {

  transform: translateY(0);

  &__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 228px 133px;
    gap: 38;
  }

  &__title {
    font-size: 22px;
    line-height: 23px;
    margin-bottom: 16px;
  }
}

.site-about {
  &__container {
    padding-bottom: 62px;
  }
}

.left-about {
  width: 50%;
}

.right-about {
  width: 50%;
  transform: translateX(17px);

  &__picture {
    width: 95%;
    margin-bottom: 24px;
  }

  &__button {
    padding: 14px 20px;
  }

  &__input {
    width: 95%;
  }
}

.site-projects {

  &__container {
    padding-bottom: 67px;
  }

  &__title {
    line-height: 29px;
  }

  &__list {
    grid-template-columns: minmax(auto,295px) minmax(auto,116px) minmax(auto,141px) minmax(auto,278.2px);
    grid-template-rows: 300px 300px 300px 300px;
    gap: 35px;
  }

  &__item {
    background-size: cover;
    background-position: center;
  }

  &__item p {
    margin-bottom: 11px;
  }

  &__item_one {
    grid-column: span 1;
    grid-row: 1;
  }

  &__item_one h3 {
    -webkit-line-clamp: 3;
  }

  &__item_two {
    grid-column: span 2;
    grid-row: 1;
  }

  &__item_two h3 {
    -webkit-line-clamp: 3;
  }

  &__item_three {
    grid-column: span 1;
    grid-row: 1;
  }

  &__item_three h3 {
    -webkit-line-clamp: 2;
    margin-bottom: 35px;
  }

  &__item_four {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  &__item_four p {
    margin-bottom: 46px;
  }

  &__item_five {
    grid-column: 1 / -1;
    grid-row: 4;
  }

  &__item_five p {
    margin-bottom: 95px;
  }

  &__item_six {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  &__item_seven {
    grid-column: 3 / 5;
    grid-row: 3;
  }

  &__picture_one {
    width: 295px;
    height: 184px;
  }

  &__picture_two {
    width: 287px;
    height: 184px;
  }

  &__picture_three {
    width: 278.2px;
    height: 184px;
  }

  &__picture_four {
    width: 928px;
    height: 300px;
  }

  &__picture_five {
    width: 928px;
    height: 300px;
  }

  &__picture_six {
    width: 441.2px;
    height: 184px;
  }

  &__picture_seven {
    width: 449.2px;
    height: 184px;
  }
}

.site-contacts {
  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
  }
}

.contacts-left {
  width: 100%;

  &__title {
    margin-bottom: 22px;
  }

  &__box {
    min-height: 157px;
  }
}

.left-box {
  &__address {
    width: 410px;
  }

  &__call {
    position: relative;
    left: 0;
    bottom: 0;
  }

  &__tel {
    position: relative;
    left: 0;
    bottom: 0;
  }
}

.contacts-right {
  width: 100%;
  padding-top: 19px;

  &__desc {
    max-width: 460px;
  }

  &__name, &__email, &__text {
    width: clamp(278px, 61vw, 466px);
  }
}

.map {
  max-width: 926px;
  min-height: 460px;
}

.footer-copyright {
  margin-right: auto;
}

.footer-quote {
  display: none;
}
}

@media (max-width: 768px) {
.container {
  max-width: 768px;
}

.site-projects {

  &__title {
    line-height: 29px;
  }

  &__list {
    grid-template-columns: minmax(auto, 218px) minmax(auto, 94px) minmax(auto, 94px) minmax(auto, 218px);
    grid-template-rows: 300px 300px 300px 300px;
    gap: 29px 30px;
  }
}
}

@media (max-width: 640px) {

.container {
  max-width: 640px;
  padding-left: 21px;
  padding-right: 21px;
}

.title {
  font-size: $textSizeFifth;
  line-height: 24px;
}

.hashtag {
  font-size: $textSizeThird;
  padding: 3px 15px;
  top: 3px;
}

.header-top {

  &__container {
    min-height: 70px;
  }

  &__search svg {
    width: 20px;
    min-height: 20px;
  }
}

.header-logo {
  &__picture {
    max-width: 113px;
    min-height: 18px;
  }
}

.nav-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  &__list {
    display: none;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item:last-child {
    display: flex;
    align-items: center;
    position: absolute;
    color: $primaryColor;
    font-size: $textSizeFourth;
    bottom: 21px;
  }

  &__list.burger-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    max-height: 541px;
    height: 100vh;
    top: 70px;
    left: 0px;
    right: 0px;
    background-color: #212121;
    z-index: 1;
    padding-left: 21px;
  }
}

.header-search {
  display: block;
}

.header-top {

  &__form {
    padding-left: 21px;
  }

  &__cancel {
    right: 21px;
  }

  &__input {
    width: 85%;
  }
}

.header-bottom {
  &__container {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.burger-bottom {

  position: relative;
  width: 26px;
  height: 16px;
  z-index: 10;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: outline-color 0.3s ease-in-out;
  cursor: pointer;

  &__line {
    $lineHeight: 2px;

    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: $lineHeight;
    background-color: $whiteColor;

    &_first,
    &_fourth {
      transition-property: opacity, background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }

    &_first {
      top: 0;
    }

    &_second,
    &_third {
      top: calc(50% - calc($lineHeight / 2));
      transition-property: transform, background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }

    &_fourth {
      width: 50%;
      bottom: 0;
    }
  }

  .burger-active &__line_first,
  .burger-active &__line_fourth {
    opacity: 0;
  }

  .burger-active &__line_second {
    transform: rotate(45deg);
  }

  .burger-active &__line_third {
    transform: rotate(-45deg);
  }

  &.focus-visible {
    outline-color: $secondColor;
  }

  @media screen and (any-hover: hover) {
    &:hover &__line {
      background-color: $primaryColor;
    }
  }

  &:active &__line {
    background-color: $thirdColor;
  }
}

.site-hero {

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

.left-hero {
  width: 100%;
  min-height: 422px;
  background-image: url(../img/pictures/hero-one__320.jpg);
  padding-top: 231px;
  margin-bottom: 31px;

  &__hashtag {
    padding: 3px 8px;
    top: 5px;
    right: 5px;
  }

  &__author {
    font-size: $textSizeFourth;
    margin-bottom: 7px;
  }

  &__title {
    width: 70%;
    font-size: $textSizeSeventh;
    line-height: 27px;
    margin-right: 15px;
    margin-bottom: 24px;
  }

  &__link {
    padding: 8px 20px;
    font-size: $textSizeFourth;
    line-height: 16px;
  }
}

.right-hero {
  width: 100%;

  &__title {
    font-size: $textSizeFifth;
    line-height: 20px;
  }

  &__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 186px 105px;
  }
}

.site-about {
  &__container {

    display: flex;
    flex-direction: column;
    padding-top: 31px;
    padding-bottom: 61px;
  }
}

.left-about {
  width: 100%;

  &__title {
    margin-bottom: 4px;
  }

  &__desc {
    width: 100%;
    font-size: $textSizeFourth;
    line-height: 25px;
  }
}

.right-about {
  width: 100%;
  transform: translateX(0);
  padding-top: 23px;

  &__picture {
    width: 100%;
    margin-bottom: 21px;
  }

  &__title {
    font-size: $textSizeFifth;
    line-height: 30px;
  }

  &__box {
    width: 50%;
  }

  &__input {
    width: clamp(100%, 85vw, 278px);
    min-height: 40px;
    font-size: $textSizeFourth;
  }

  &__button {
    padding: 9px 20px;
    font-size: $textSizeFourth;
  }
}

.site-projects {

  &__container {
    padding-top: 49px;
    padding-bottom: 51px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__list {
    grid-template-columns: 1fr;
    grid-template-rows: 278px 278px 278px 422px 300px 300px 422px;
    gap: 25px;
  }

  &__item {
    max-width: 100%;
    background-size: cover;
    background-position: center;
  }

  &__item_one {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  &__item_one h3 {
    -webkit-line-clamp: 3;
  }

  &__item_two {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  &__item_three {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  &__item_three h3 {
    -webkit-line-clamp: 2;
    margin-bottom: 11px;
  }

  &__item_four {
    grid-column: 1 / -1;
    grid-row: 4;
  }

  &__item_four p {
    width: 250px;
    line-height: 18px;
    font-size: $textSizeFourth;
    -webkit-line-clamp: 4;
    margin-bottom: 14px;
  }

  &__item_four time {
    margin-bottom: 6px;
  }

  &__item_five {
    grid-column: 1 / -1;
    grid-row: 7;
  }

  &__item_five p {
    width: 215px;
    line-height: 18px;
    font-size: $textSizeFourth;
    -webkit-line-clamp: 4;
    margin-bottom: 20px;
  }

  &__item_five h3 {
    margin-bottom: 10px;
  }

  &__item_five time {
    margin-bottom: 4px;
  }

  &__item_six {
    grid-column: 1 / -1;
    grid-row: 5;
  }

  &__item_six h3 {
    -webkit-line-clamp: 3;
  }

  &__item_seven {
    grid-column: 1 / -1;
    grid-row: 6;
  }

  &__item_seven h3 {
    -webkit-line-clamp: 3;
  }

  &__picture {
    object-position: center;
    object-fit: cover;
  }

  &__picture_one {
    width: 100%;
    height: 184px;
  }

  &__picture_two {
    width: 100%;
    height: 184px;
  }

  &__picture_three {
    width: 100%;
    height: 184px;
  }

  &__picture_four {
    width: 100%;
    height: 422px;
  }

  &__picture_five {
    width: 100%;
    height: 422px;
  }

  &__picture_six {
    width: 100%;
    height: 184px;
  }

  &__picture_seven {
    width: 100%;
    height: 184px;
  }

  &__indent_four {
    padding-top: 193px;
  }

  &__indent_five {
    padding-top: 200px;
  }
}

.item-projects {
  &__desc {
    margin-bottom: 12px;
    -webkit-line-clamp: 2;
  }

  &__btn {
    font-size: $textSizeFourth;
    line-height: 16px;
  }
}

.site-contacts {
  &__container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 48px;
  }
}

.contacts-left {
  &__title {
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 13px;
  }

  &__box {
    min-height: 157px;
    padding-top: 27px;
    padding-left: 19px;
  }
}

.left-box {
  &__title {
    line-height: 22px;
    font-size: $textSizeFifth;
    margin-bottom: 10px;
  }

  &__address {
    width: 265px;
    line-height: 18px;
    font-size: $textSizeFourth;
    margin-bottom: 9px;
  }

  &__tel {
    line-height: 20px;
    font-size: $textSizeFourth;
  }

  &__close {
    top: 21px;
    right: 20px;
  }
}

.contacts-right {
  padding-top: 22px;
  padding-left: 21px;
  padding-right: 21px;

  &__title {
    line-height: 24px;
    font-size: $textSizeFifth;
    margin-bottom: 8px;
  }

  &__desc {
    line-height: 18px;
    font-size: $textSizeFourth;
  }

  &__name, &__email, &__text {
    width: clamp(278px, 70vw, 640px);
  }

  &__name, &__email {
    min-height: 40px;
  }

  &__name::placeholder, &__email::placeholder {
    font-size: $textSizeFourth;
    line-height: 16px;
  }

  &__text {
    padding-top: 11px;
  }

  &__text::placeholder {
    font-size: $textSizeFourth;
    line-height: 16px;
  }

  &__button {
    font-size: $textSizeFourth;
    line-height: 16px;
    padding: 10px 20px;
  }
}

.map {
  min-height: 472px;
}

.site-footer {
  &__container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  &__more {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 124px;
    background-color: $eighthColor;
    order: -1;
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 62px;
  background-color: $fifthColor;

  &__logo {
    margin-bottom: 0;
  }

  &__text {
    font-size: $textSizeSecond;
  }
}

.footer-more {
  &__socials {
    max-width: 140px;
    width: 40%;
    justify-content: space-between;
  }
}

.copyright-logo {
  &__picture {
    width: 113px;
    min-height: 18px;
  }
}
}
