@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
        url('../fonts/roboto/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-bold.woff2') format('woff2'),
        url('../fonts/roboto/roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('../fonts/ttfirsneue/tt-firs-neue-regular.woff2') format('woff2'),
        url('../fonts/ttfirsneue/tt-firs-neue-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('../fonts/ttfirsneue/tt-firs-neue-bold.woff2') format('woff2'),
        url('../fonts/ttfirsneue/tt-firs-neue-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
