/*/ colorscolorscolors /*/
$primaryColor:hsla(18, 100%, 59%, 1);
$secondColor:hsla(18, 63%, 45%, 1);
$thirdColor:hsla(18, 94%, 42%, 1);
$fourthColor:hsla(0, 0%, 79%, 1);
$fifthColor:hsla(0, 0%, 13%, 1);
$sixthColor:hsla(0, 0%, 20%, 1);
$seventhColor:hsla(0, 0%, 60%, 1);
$eighthColor:hsla(0, 0%, 40%, 1);
$nineColor:hsla(0, 0%, 91%, 1);
$tenColor: hsla(0, 0%, 29%, 1);
$elevenColor: hsla(0, 0%, 26%, 1);
$twelweColor: hsla(0, 0%, 77%, 1);
$backgroundColor:hsla(0, 0%, 13%, 0.85);
$whiteColor: hsl(0 0% 100%);
$blackColor: hsl(0 100% 0%);

/*/ texttexttext /*/
$textSizePrimary: 16px;
$textSizeSmall: 9px;
$textSizeSecond: 10px;
$textSizeThird: 12px;
$textSizeFourth: 14px;
$textSizeFifth:  18px;
$textSizeSixth: 22px;
$textSizeSeventh: 24px;
$textSizeEighth: 34px;
$textSizeNine: 36px;


/*/ weightweightweight /*/
$textWeightBold: 700;
$textWeightRegular: 400;

/*/ fontsfontsfonts /*/
$primaryFontFamily: "Roboto",sans-serif;
$secondFontFamily: "TT Firs Neue",sans-serif;

/*/ transitiontransitiontransition /*/
$primaryTransition: .3s ease-in-out;
